.alert {
  position: relative;
  display: flex;
  align-items: center;
  padding: 8px 15px;
  word-wrap: break-word;
  border-radius: 5px;
  color: $white;
  width: 36%;
  margin-bottom: 10px;
}

.alert-content {
  flex: 1;
  min-width: 0;
}

.alert-message {
  display: block;
  margin-bottom: 4px;
  font-size: $font-size-lg;
}

.alert-description {
  font-size: $font-size-base;
  line-height: calc($font-size-base + 8px);
}

.alert-success {
  background-color: $alert-success-bg-color;
  border: $border-width $border-style-base $alert-success-bg-color;
}

.alert-info {
  background-color: $alert-info-bg-color;
  border: $border-width $border-style-base $alert-info-bg-color;
}

.alert-warning {
  background-color: $alert-warning-bg-color;
  border: $border-width $border-style-base $alert-warning-bg-color;
}

.alert-error {
  background-color: $alert-error-bg-color;
  border: $border-width $border-style-base $alert-error-bg-color;
  .alert-description > pre {
    margin: 0;
    padding: 0;
  }
}

.alert-close-icon {
  position: absolute;
  top: calc(0.875rem / 2 + 9px);
  right: 16px;
  padding: 0;
  overflow: hidden;
  font-size: $font-size-sm;
  line-height: $font-size-sm;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;

  .alert-close {
    color: $alert-close-color;
    transition: color 0.3s;
    &:hover {
      color: $alert-close-hover-color;
    }
  }
}

.alert-motion-leave {
  overflow: hidden;
  opacity: 1;
  transition: max-height 0.3s $ease-in-out-circ, opacity 0.3s $ease-in-out-circ,
    padding-top 0.3s $ease-in-out-circ, padding-bottom 0.3s $ease-in-out-circ,
    margin-bottom 0.3s $ease-in-out-circ;
}

.alert-motion-leave-active {
  max-height: 0;
  margin-bottom: 0 !important;
  padding-top: 0;
  padding-bottom: 0;
  opacity: 0;
}
